.blog {

	.site-content {
		padding-top: 5rem;
	}

	.entry-header {
		background-color: transparent;
	}

	.entry-header_thumbnail {
		display: block;
		height: 33vh;
		background-color: #DDD;
		background-size: cover;
		background-position: 50% 50%;
		width: 100%;
		overflow: hidden;
		position: relative;
	}

	.articles-list {
		width: 100%;
		max-width: 92rem;
		margin-left: auto;
		margin-right: auto;

		& article {
			margin: 1rem;
	    	background-color: #EEE;

	    	& .entry-meta,
	    	& .entry-title,
	    	& .entry-content,
	    	& .entry-footer {
	    		margin: 1rem;
	    	}

	    	& .entry-meta,
	    	& .entry-content,
	    	& .entry-footer {
	    		font-size: 1rem;
	    	}

	    	& .entry-title {
	    		font-size: 1.5rem;
	    		margin-bottom: 0;
	    		& a {
		  			color: $color__text-main;		  			
		  		}
		  	}

			& .entry-footer {
				display: none;
			}

		}

		@media screen and (min-width: 600px) {
			display: flex;
			flex-wrap: wrap;

		    & article {
		    	flex-basis: calc(33.3333% - 3rem);
				flex-grow: 1;
		    	position: relative;
		    	

		    	& .entry-meta,
		    	& .entry-title,
		    	& .entry-content,
		    	& .entry-footer {
		    		margin: 1rem 2rem 0.5rem 2rem;
		    	}

		    	

		    	
		  	} 

		  	& article:first-child {
		  		flex-basis: calc(66.6% - 3rem);
		  		background-color: $color__brand-blue;
		  		color: $color__text_negative;

		  		& a,
		  		& a:visited {
		  			color: $color__brand-orange;
		  		}

		  		& .entry-title {
		  			font-size: 2rem;
		  			font-weight: 800;
		  			& a {
			  			color: $color__text-negative;
			  		}
			  	}

		  		& .entry-header_thumbnail {
		  			height: 50vh;
		  		}
	  		}		  	

	  		& article:nth-child(2) {
	  			& .entry-header_thumbnail {
		  			height: 50vh;
		  		}
	  		}
		}
		@media screen and (min-width: 600px) and (max-width: 90rem) {
			width: calc(90% + 2rem);
		}		
	}
}

.single {
	.entry-title,
	.entry-meta,
	.entry-content,
	.entry-footer,
	.comments-area,
	.nav-links {
		width: 100%;
		max-width: 90rem;
		margin-left: auto;
		margin-right: auto;

		@media screen and (max-width: 599px) {
			padding-left: 1rem;
			padding-right: 1rem;
		}

		@media screen and (min-width: 600px) and (max-width: 90rem) {
			width: 90%;
		}
	}

	& .entry-header {
		background-color: transparent;
		margin: 61px auto 2rem auto;

		@media screen and (min-width: 600px) {
			margin-bottom: 2rem;
			margin-top: 78px;
			height: 60vh;
			width: 90%;
			max-width: 90rem;
		}

		& .entry-header_thumbnail {
			height: 200px;
			width: 100%;
			display: block;
			background-size: cover;
			background-position: 50% 50%;
			background-color: #EEE;

			@media screen and (min-width: 600px) {
				height: 60vh;
				width: calc(50% - 2rem);
				position: absolute;
				right: 1rem;
			}
		}

		& .entry-meta {
			margin-top: 1rem;
			margin-bottom: 1rem;
			margin-left: 0;
			//font-weight: 800;
			//color: $color__brand-orange;
			//font-style: italic;

			& a:visited {
				color: $color__brand-orange;
			}

			@media screen and (min-width: 600px) {
				margin-top: 4rem;
			}
		}

		& .entry-title {
			margin-top: 0;
			color: $color__text-main;
			//font-weight: 800;

			&:before {
				content: none;
			}

			@media screen and (min-width: 600px) {
				width: calc(50% - 2rem);
				margin-left: 0;
				font-size: 3rem;
			}
		}
	}



	& .post h2,
	& .post h3,
	& .post h4,
	& .post h5 {
		width: 100%;

		@media screen and (min-width: 600px) {
			position: relative;
			margin-top: 2em;
			max-width: 42rem;
			//float: left;

			&:before {
				content: none;
				width:4rem;
				height: 4px;
				background-color: $color__brand-orange;
				position: absolute;
				top: -1rem;
				left: 0;
			}
		}
	}

	& .entry-content {
		
		& > p,
		& > ul,
		& > ol {
			width: 100%;
			margin-left: auto;
			margin-right: auto;

			@media screen and (min-width: 600px) {
				//width: 66.6%;
				max-width: 42rem;
				//margin-left: 33.3%;
			}
		}
		
		.wp-block-image {	
			width: 100%;
			max-width: 42rem;

			& img {
				width: 100%;
			}			
		}
	}

	& .entry-content > p:first-child,
	& h2 + p { 
		&:first-letter {
			//color: #903;
			float: left;
			//font-family: Georgia;
			font-size: 5.05em;
			//font-weight: 800;
			line-height: 6em;
			padding-top: .07em;
			padding-right: .1em;
			padding-left: 0em;
		}
	}

	& h2 + p,
	& h3 + p,
	& h4 + p,
	& h5 + p {
		@media screen and (min-width: 600px) {
			//margin-top: 3rem;
		}
	}
	.entry-footer {
		margin: 2rem auto;
		font-size: 1rem;
		padding-top: 1rem;
		border-top: 1px solid #EEE;
		
		& > span {
			display: inline-block;
			margin-right: 1rem;

			/* @media screen and (min-width: 600px) {
				margin-left: 33.3333%;
				width: 66.6666%;
				max-width: 36rem;
			} */

			& a[rel="tag"] {
				font-size: .75rem;
				background-color: lighten($color__brand-orange, 10%);
				color: #FFF;
				padding: 2px 5px;
				margin: 2px; 
				display: inline-block;
				border-radius: 5px;

				&:before {
					content: '#';
				}
			}
		}
	}
	& .post-navigation,
	& .comments-area,
	& .entry-footer {
		display: none; //REMOVE ONCE DESIGN FOR COMMENTS IS DONE 
	}
}