.blog, 
.archive {

	.site-content {
		padding-top: 5rem;
	}

	.entry-header {
		background-color: transparent;
	}

	.entry-header_thumbnail {
		display: block;
		height: 33vh;
		background-color: #DDD;
		background-size: cover;
		background-position: 50% 50%;
		width: 100%;
		overflow: hidden;
		position: relative;
	}

	.articles-list {
		width: 100%;
		max-width: 92rem;
		margin-left: auto;
		margin-right: auto;

		& article {
			margin: 1rem;
	    	background-color: #EEE;

	    	& .entry-meta,
	    	& .entry-title,
	    	& .entry-content,
	    	& .entry-footer {
	    		margin: 1rem;
	    	}

	    	& .entry-meta,
	    	& .entry-content,
	    	& .entry-footer {
	    		font-size: 1rem;
	    	}

	    	& .entry-title {
	    		font-size: 1.5rem;
	    		margin-bottom: 0;
	    		& a {
		  			color: $color__text-main;		  			
		  		}
		  	}

			& .entry-footer {
				display: none;
			}

		}

		@media screen and (min-width: 600px) {
			display: flex;
			flex-wrap: wrap;

		    & article {
		    	flex-basis: calc(33.3333% - 3rem);
				flex-grow: 1;
		    	position: relative;
		    	

		    	& .entry-meta,
		    	& .entry-title,
		    	& .entry-content,
		    	& .entry-footer {
		    		margin: 1rem 2rem 0.5rem 2rem;
		    	}

		    	

		    	
		  	} 

		  	& article:first-child {
		  		flex-basis: calc(66.6% - 3rem);
		  		background-color: $color__brand-blue;
		  		color: $color__text_negative;

		  		& a,
		  		& a:visited {
		  			color: $color__brand-orange;
		  		}

		  		& .entry-title {
		  			font-size: 2rem;
		  			font-weight: 800;
		  			& a {
			  			color: $color__text-negative;
			  		}
			  	}

		  		& .entry-header_thumbnail {
		  			height: 50vh;
		  		}
	  		}		  	

	  		& article:nth-child(2) {
	  			& .entry-header_thumbnail {
		  			height: 50vh;
		  		}
	  		}
		}
		@media screen and (min-width: 600px) and (max-width: 90rem) {
			width: calc(90% + 2rem);
		}		
	}
}

.archive {
	& header h1 {
		margin: 0.5em auto 0.5em auto;
		font-size: 2rem;
		max-width: 90rem;
		width:90%;
	}
	& .articles-list:not(.archive) article:first-child {
		@media (min-width: 600px) {
	  		flex-basis: calc(33.333% - 3rem);
	  		background-color: #EEE;
	  		color: $color__text-main;

	  		& a,
	  		& a:visited {
	  			color: $color__brand-orange;
	  		}

	  		& .entry-title {
	  			font-size: 1.5rem;
	  			font-weight: 800;
	  			& a {
		  			color: $color__text-main;
		  		}
		  	}

	  		& .entry-header_thumbnail {
	  			height: 33vh;
	  		}
		}
	}

	& .articles-list article:nth-child(2) .entry-header_thumbnail {
		height: 33vh;
	}
}

.single {
	.entry-title,
	.entry-meta,
	.entry-content,
	.entry-footer,
	.comments-area,
	.nav-links {
		width: 100%;
		max-width: 90rem;
		margin-left: auto;
		margin-right: auto;

		@media screen and (max-width: 599px) {
			padding-left: 1rem;
			padding-right: 1rem;
		}

		@media screen and (min-width: 600px) and (max-width: 90rem) {
			width: 90%;
		}
	}

	& .entry-content{
		padding: 2rem 1rem 6rem 1rem;
	}

	& .entry-header {
		background-color: transparent;
		margin: 61px auto 2rem auto;
		color: $color__text-main;

		@media screen and (min-width: 600px) {
			background-color: $color__brand-blue;
			color: $color__text-negative;
			margin-bottom: 2rem;
			margin-top: 78px;
			height: 60vh;
			display: flex;
			align-items: center;
		}

		& .entry-header_thumbnail {
			height: 200px;
			width: 100%;
			display: block;
			background-size: cover;
			background-position: 50% 50%;
			background-color: #EEE;

			@media screen and (min-width: 600px) {
				height: 60vh;
				width: calc(50% - 2rem);
				position: absolute;
				right: 0;

				&:after {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background: linear-gradient(90deg, rgb(11, 56, 97) 0%, rgba(255, 255, 255, 0) 50%);
				}
			}
		}
		& .entry-header_text {
			@media screen and (min-width: 600px) {
				width: 90%;
				max-width: calc(90rem + 2rem);
				margin: 0 auto;
			}
		}

		& .entry-meta {
			margin-top: 1rem;
			margin-bottom: 1rem;
			margin-left: 0;
			max-width: 43rem;

			& a:visited {
				color: $color__brand-orange;
			}

			@media screen and (min-width: 600px) {
				margin-top: 0;
			}
		}

		& .entry-title {
			margin-top: 0;
			margin-bottom: 0;
			max-width: 43rem;
			color: $color__text-main;

			&:before {
				content: none;
			}

			@media screen and (min-width: 600px) {				
				margin-left: 0;
				font-size: 3rem;
				color: $color__text-negative;
			}
		}
	}

	& .post h2,
	& .post h3,
	& .post h4,
	& .post h5 {
		width: 100%;

		@media screen and (min-width: 600px) {
			position: relative;
			margin-top: 2em;
			max-width: 42rem;

			&:before {
				content: none;
				width:4rem;
				height: 4px;
				background-color: $color__brand-orange;
				position: absolute;
				top: -1rem;
				left: 0;
			}
		}
	}

	& .entry-content {
		
		& > p,
		& > ul,
		& > ol {
			width: 100%;
			margin-left: auto;
			margin-right: auto;
			line-height: 1.55;

			@media screen and (min-width: 600px) {
				max-width: 42rem;
			}
		}
		
		.wp-block-image {	
			width: 100%;
			max-width: 42rem;

			& img {
				width: 100%;
			}			
		}
	}

	& .entry-content > p:first-child { 
		 &:first-letter {
			font-size: 510%;
			font-weight: 800;
			margin: 7px 0 -3px -5px;
			padding: 0 .1em 0 0;
			height: .7em;
			line-height: .82em;
			float: left;
			color: #333;
		} 
	}

	& h2 + p,
	& h3 + p,
	& h4 + p,
	& h5 + p {
		@media screen and (min-width: 600px) {
			/*margin-top: 3rem;*/
		}
	}
	.entry-footer {
		margin: 2rem auto;
		font-size: 1rem;
		padding-top: 1rem;
		border-top: 1px solid #EEE;
		
		& > span {
			display: inline-block;
			margin-right: 1rem;

			/* @media screen and (min-width: 600px) {
				margin-left: 33.3333%;
				width: 66.6666%;
				max-width: 36rem;
			} */

			& a[rel="tag"] {
				font-size: .75rem;
				background-color: lighten($color__brand-orange, 10%);
				color: #FFF;
				padding: 2px 5px;
				margin: 2px; 
				display: inline-block;
				border-radius: 5px;

				&:before {
					content: '#';
				}
			}
		}
	}
	& .post-navigation,
	& .comments-area,
	& .entry-footer {
		display: none; /*REMOVE ONCE DESIGN FOR COMMENTS IS DONE */
	}
}