ul, ol {
	margin: 0 0 1.5rem 0;
	max-width: 44rem;

	.content-area & {
		background-color: desaturate(lighten($color__brand-blue, 70%), 30%);
		padding: 1rem 1rem .25rem 2rem!important;
		box-shadow: -6px 6px 0 desaturate(lighten($color__brand-blue, 50%), 30%);
		color: desaturate(lighten($color__brand-blue, 15%), 30%);

		@media (min-width: 600px) {
			padding: 2rem 2rem 1rem 3.5rem!important;
		}
	}

	.content-area [class$="-background-color"] & {
		background-color: desaturate(lighten($color__brand-blue, 10%), 30%);
		box-shadow: -6px 6px 0 darken($color__brand-blue, 5%);
		color: desaturate(lighten($color__brand-blue, 70%), 30%);
	}
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}
article li {
	margin-bottom: 1rem;
}