ul, ol {
	margin: 0 0 1.5rem 0;
	max-width: 44rem;

	.content-area & {
		//background-color: rgba(0,0,0,0.1);
		border: 2px solid $color__text-main;
		padding: 2rem 2rem 1rem 4rem!important;
		border-radius: 6px;
	}

	.content-area [class$="-background-color"] & {
		border: 2px solid $color__text-negative;
	}
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}
article li {
	margin-bottom: 1rem;
}