$color__brand-blue: #0B3861;
$color__brand-orange: #F9A870; 
$color__brand-lightgrey: #EEEEEE;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: transparent;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color__brand-orange;
$color__link-visited: #000000;
$color__link-hover: $color__brand-orange;
$color__text-main: #000000;
$color__text-negative: #FFFFFF;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

// Gutenberg color options
// -- see editor-color-palette in functions.php
$colors: (
	'blue' 		: $color__brand-blue,
	'orange' 	: $color__brand-orange,
	'black' 	: #000000,
	'white' 	: #FFFFFF,
	'lightgrey'	: $color__brand-lightgrey,
);

@each $name, $color in $colors {

	.has-#{$name}-color {
		color: $color;
	}

	.has-#{$name}-background-color {
		background-color: $color;
	}
}