a {
	color: $color__link;
	text-decoration: none;

	&:visited {
		color: $color__link-visited;
	}
	.has-blue-background-color &,
	.has-black-background-color & {
		color: $color__link;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

a > .dashicons {
	height: 30px;
	width: 30px;
	font-size: 30px;
	color: $color__text-main;
}

p:not(.site-title) > a {
	//font-style: italic;
	color: inherit;
	border-bottom: 2px solid $color__text-main;
}

[class$="-background-color"] p > a {
	border-bottom-color: $color__text-negative;
}

h5 a {
	text-decoration: none;

	&:visited,
	&:focus,
	&:active {
		color: $color__link;
	}
}

.wp-block-button {
	padding: 0;
}

.wp-block-button__link {
	background-color: $color__background-button;
	color: $color__text-main;
	font-weight: 900;
	border-bottom: 3px solid $color__link;
	border-radius: 0;
	padding: 0;
	letter-spacing: -.02em;

	.has-blue-background-color & {
		color: $color__text-negative;

		&:visited {
			color: $color__text-negative;
		}
	}

	.has-orange-background-color &,
	.has-orange-background-color &:visited {
		border-bottom-color: $color__text-negative;
	}
}

.wp-block-button__link:active, 
.wp-block-button__link:focus,
.wp-block-button__link:visited {
	color: $color__link-visited;
}

.wp-block-button__link:hover {
	color: $color__link-hover;
}

.jpl-social-icon {
	display: inline-block;
	margin-bottom: 0;
}

.edit-link a {
	position: fixed;
	top: 8rem;
	right: 0;
	background: $color__brand-orange;
	color: #FFF!important;
	padding: 2rem;
	z-index: 1111;
}