.editor-block-list__block-edit .hero-cover {
	overflow: auto;
	background-color: #0B3861;
	background-size: cover;
	background-position: 50% 50%;
	position: relative;
}

.editor-block-list__block-edit .hero-cover-title {
	color: #FFF;
	font-weight: 300;
	position: relative;
	z-index: 1;
	letter-spacing: -.01em;
	line-height: 1.35;
	padding: .75rem;
}
.editor-block-list__block-edit .hero-cover-title strong {
	font-weight: 900;
}

.editor-block-list__block-edit .hero-cover-title:before {
	content: '';
	display: block;
	width:  .75rem;
	height:  .75rem;
	background-color: #F9A870;
	position: relative;
	left: -.75rem;
}

.editor-block-list__block-edit .hero-cover-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 0;
	background-color: #0B3861;
}